@import "tailwindcss";

:root {
  --background: #0e0e0e;
  --foreground: #45dd00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scanlines {
  background: linear-gradient(to bottom, #09090b 10%, transparent 10%),
    linear-gradient(to top, rgba(12, 12, 13, 0.6) 10%, transparent 10%);
  background-size: 5px 5px;
}

/* Firefox */
* {
  scrollbar-color: lime black; /* thumb color, track color */
  scrollbar-width: thin; /* or auto */
}

/* For WebKit browsers */
*::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: black; /* track color */
}

*::-webkit-scrollbar-thumb {
  background-color: lime; /* thumb color */
  border-radius: 10px; /* roundness of the thumb */
}
