@import "tailwindcss";

@font-face {
  font-family: 'Share Tech Mono';
  src: url('/fonts/ShareTechMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #0e0e0e;
  --foreground: #45dd00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Share Tech Mono', monospace;
}

* {
  font-family: 'Share Tech Mono', monospace;
}

.scanlines {
  position: relative;
}

.scanlines::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
          to bottom,
          transparent,
          transparent 2px,
          rgba(0, 0, 0, 0.18) 2px,
          rgba(0, 0, 0, 0.18) 4px
  );
  pointer-events: none;
  z-index: 1;
}

/* Make sure text inside scanlines is above the overlay */
.scanlines > * {
  position: relative;
  z-index: 2;
}

/* Firefox */
* {
  scrollbar-color: lime black; /* thumb color, track color */
  scrollbar-width: thin; /* or auto */
}

/* For WebKit browsers */
*::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: black; /* track color */
}

*::-webkit-scrollbar-thumb {
  background-color: lime; /* thumb color */
  border-radius: 10px; /* roundness of the thumb */
}
